@charset "UTF-8";

/*
       Personal Portfolio Website styles Page
       Auther: Carl Provost
       Date Created: 3/28/2024
       last Updated: 4/25/2024
       Filename: stlyes.css
*/

/* Navigation Link Styles */
.links ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links ul li a:link {
    color: #000080
}

body.dark-mode .links ul li a:link,
body.dark-mode .links ul li a:visited {
    color: #000;
}

.links ul li a:visited {
    color: red;
}

body.dark-mode .links ul li a:hover {
    color: #FFD700;
}

.top {
    color: #000080;
    list-style: none;
}

.top a {

    text-decoration: none;
}

.top a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/* Button Styles */
button {
    background-color: #000080;
    color: white;
    cursor: pointer;
}

body.dark-mode button {
    color: #000;
}

/* Border Styles */
.me-border {
    border: 5px inset #000080;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 15px 15px 8px rgba(247, 247, 247, 0.8);
}

.border {
    background-color: #000080;
    height: 15px;
}

/* Article Styles */
.article {
    padding: 40px 25px;
}

/* Aside Styles */
aside {
    width: 200px;
    padding: 20px;
    border: 1px solid #000080;
}

body.dark-mode aside {
    border: 1px solid #FFD700;
}



/* Other Styles */
.top {
    padding-bottom: 15px;
    padding-left: 15px;
}

.blank {
    text-align: center;
    font-size: xx-large;
}

.update {
    padding: 0px 25px;
    text-align: center;
}

.table-container {
    padding: 0px 10px;
}

.resume a {
    text-decoration: none;
    color: #000080;
}

body.dark-mode .resume a {
    color: #FFD700;
}

.resume a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/* Default Variables */
:root {
    --primary-color-light: #87CEEB;
    /* Light Sky Blue */
    --primary-color-dark: #CCCCCC;
    /* Light Gray */
    --secondary-color-light: #000080;
    /* Navy Blue */
    --secondary-color-dark: #FFD700;
    /* Gold */
    --background-color-light: #FFDAB9;
    /* Light mode background color */
    --background-color-dark: #000000;
    /* Dark mode background color */
}

/* Light Mode Styles */
body:not(.dark-mode) {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --background-color: var(--background-color-light);
    background-color: var(--background-color);
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --background-color: var(--background-color-dark);
    background-color: var(--background-color-dark);
    color: #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body:not(.dark-mode) .container {
    background-color: #FFFFFF;
}

body.dark-mode .container {
    background-color: #333333;
}

.links ul li a:hover,
a:focus {
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px solid var(--secondary-color-light);
}

button {
    background-color: var(--secondary-color);
    color: #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav,
.footer {
    background-color: var(--primary-color);
}

.links ul li a:link,
.links ul li a:visited,
.top a {
    color: var(--secondary-color);
}

tr th {
    background-color: var(--primary-color);
}

body.dark-mode tr th {
    background-color: var(--secondary-color);
}

body.dark-mode .links ul li a:hover,
body.dark-mode a:focus {
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px solid var(--secondary-color-dark);
}

.overlay {
    color: var(--secondary-color);
}

nav,
footer {
    background-color: var(--primary-color);
}

.links ul li a:link,
.links ul li a:visited,
.top a {
    color: var(--secondary-color);
}

.border {
    background-color: var(--secondary-color);
}

.main {
    background-color: var(--primary-color);
}

.me-border {
    border: 5px inset var(--secondary-color);
    box-shadow: 15px 15px 8px rgba(8, 8, 8, 0.8);
    color: #000000;
}

.contact {
    background-color: var(--primary-color);
    color: #000000;
}


footer {
    color: #000000;
}

.website-details {
    display: none;
}

.website-details:first-child {
    display: block;
}

/* Media Queries */

/* Extra Large screens */
@media screen and (min-width: 1201px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
}

/* Large screens */
@media screen and (max-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Desktops screens */
@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
    }

    .nav {
        padding: 20px;
    }

    .picture {
        width: 100%;
        max-width: 1200px;
        grid-template-columns: repeat(2, 1fr);
    }

    .overlay {
        font-size: 30px;
    }
}

/* Tablets screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .dark {
        flex-wrap: wrap;
    }

    .picture {
        grid-template-columns: 1fr;
    }

    .overlay {
        font-size: 24px;
    }

    .form {
        max-width: 80%;
    }
}

/* Mobile phones screens */
@media screen and (max-width: 576px) {
    body {
        font-size: 12px;
    }

    .nav {
        padding: 5px;
    }

    .picture {
        grid-template-columns: 1fr;
    }

    .overlay {
        font-size: 20px;
    }

    .form {
        max-width: 90%;
    }

    .main,
    .contact {
        padding: 20px;
    }

    .article {
        grid-template-columns: 1fr;
    }

    #ham {
        display: block;
    }

    .nav {
        flex-direction: row;
    }

    nav .links ul{ 
        display: none;
    }
}